<main class="main d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-0 px-0 px-md-2 mx-md-auto">
                <div class="card mx-0 mx-md-4">
                    <div class="card-body p-2 p-md-4 text-center">
                        <h1>Register as an Household</h1>
                        <div class="form-check form-check-inline w-md-70">
                            <form [formGroup]="Form" (ngSubmit)="register(Form.value)" class="w-100">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                      </div>
                      <input class="form-control" placeholder="First Name" formControlName="firstName" />
                    </div>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.firstName">
                        <div class="error-message alert alert-danger" *ngIf="
                            Form.get('firstName').hasError(validation.type) &&
                            (Form.get('firstName').dirty ||
                              Form.get('firstName').touched)
                          ">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message
                          }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-user-o" aria-hidden="true"></i></span>
                      </div>
                      <input class="form-control" placeholder="Last Name" formControlName="lastName" />
                    </div>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.lastName">
                        <div class="error-message alert alert-danger" *ngIf="
                            Form.get('lastName').hasError(validation.type) &&
                            (Form.get('lastName').dirty ||
                              Form.get('lastName').touched)
                          ">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message
                          }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i></span>
                      </div>
                      <input type="email" class="form-control" placeholder="Email" formControlName="email" />
                    </div>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.email">
                        <div class="error-message alert alert-danger" *ngIf="
                            Form.get('email').hasError(validation.type) &&
                            (Form.get('email').dirty ||
                              Form.get('email').touched)
                          ">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message
                          }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-phone"></i></span>
                      </div>
                      <input type="tel" class="form-control" placeholder="Phone Number" autocomplete="phone"
                        formControlName="phone" />
                    </div>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.phone">
                        <div class="error-message alert alert-danger" *ngIf="
                            Form.get('phone').hasError(validation.type) &&
                            (Form.get('phone').dirty ||
                              Form.get('phone').touched)
                          ">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message
                          }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Password" autocomplete="new-password"
                        formControlName="password" />
                    </div>
                    <div class="validation-errors">
                      <ng-container *ngFor="let validation of validation_messages.password">
                        <div class="error-message alert alert-danger" *ngIf="
                            Form.get('password').hasError(validation.type) &&
                            (Form.get('password').dirty ||
                              Form.get('password').touched)
                          ">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message
                          }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="validation-errors" *ngIf="error.password != ''">
                      <ng-container>
                        <div class="error-message alert alert-danger">
                          <i class="fa fa-info-circle text-danger"></i> &nbsp; <span
                            class="text-danger">{{ error.password }}</span>
                        </div>
                      </ng-container>
                    </div>
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fa fa-lock"></i></span>
                      </div>
                      <input type="password" class="form-control" placeholder="Confirm password"
                        autocomplete="new-password" formControlName="password_confirmation" />
                    </div>
                    <button type="submit" class="btn btn-block bg-orange" [disabled]="!Form.valid"> Create Account
                    </button>
                  </form>
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0">
                        <div class="row">
                            <div class="col-12 text-center mb-3">
                                <em>Already have an account, &nbsp;<a routerLink="/login">Login</a></em><br />
                                <!-- OR -->
                            </div>
                            <!-- <div class="col-4 pl-0 pl-md-2 d-flex justify-content-center">
                <button class="btn btn-google grow" type="button">
                  <i class="fa fa-google"></i>&nbsp;&nbsp;<span>Google</span>
                </button>
              </div>
              <div class="col-4 pr-0 pr-md-2 d-flex justify-content-center">
                <button class="btn btn-facebook grow" type="button">
                  <i class="fa fa-facebook"></i>&nbsp;&nbsp;<span
                    >facebook</span
                  >
                </button>
              </div>
              <div class="col-4 pl-0 pl-md-2 d-flex justify-content-center">
                <button class="btn btn-twitter grow" type="button">
                  <i class="fa fa-twitter"></i>&nbsp;&nbsp;<span>twitter</span>
                </button>
              </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">{{ modalTitle }}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>{{ modalBody }}</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')"> Close </button>
    </div>
</ng-template>
<ngx-loading [show]="loading"></ngx-loading>
