    <footer id="footer" class="footer footer2 mt-4">
        <div class="">

            <div class="row bg-black text-light pt-4">
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-widget footer-about-us pl-3">
                    <p class="h6">About Scrapays</p> <br>

                    Scrapays connects waste producers (individuals and enterprise) with independent recyclable material collection businesses so they can dispose of their sorted waste efficiently with a return. The community is powered by hosts who have access to spaces, they provide collection outlets allowing for wide decentralization of collectors.
                    <!-- <div class="row">
                        <div class="col-md-6">
                            <strong>Email: </strong>
                            <p><a href="mailto:hello@scrapays.com">hello@scrapays.com</a></p>
                        </div>
                        <div class="col-md-6">
                            <strong>Phone No.</strong>
                            <p> +234 (0) 8104323995 <br> +234 (0) 816 367 8475</p>
                        </div>
                    </div> -->
                    <br /><br><br>
                    <div class="team-social">
                        <a class="fb" href="https://web.facebook.com/scrapays" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="twt" href="https://twitter.com/scrapays_HQ" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="linkdin" href="https://www.linkedin.com/company/scrapays/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="instagram" href="https://www.instagram.com/scrapays_hq/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div><br>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-widget">
                    <span style="text-transform: uppercase;">Products</span><br><br>
                    <ul class="unstyled text-white">
                        <li><a href="https://scrapays.com/enterprise">Enterprise</a></li>
                        <li><a href="https://scrapays.com/household">Household</a></li>
                        <li><a href="https://scrapays.com/list  ">List</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-widget">
                    <span style="text-transform: uppercase;">Partners</span><br><br>
                    <ul class="unstyled text-white">
                        <li><a href="https://scrapays.com/agent">Agent</a></li>
                        <li><a href="https://scrapays.com/collectors">Collectors</a></li>
                        <li><a href="https://scrapays.com/host  ">Host</a></li>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 footer-widget">
                    <span style="text-transform: uppercase;">Support</span><br><br>
                    <ul class="unstyled text-white">
                        <li><a href="https://scrapays.com">FAQs</a></li>
                        <li><a href="https://scrapays.com">Legal</a></li>
                        <li><a href="https://scrapays.com">Privacy Policy</a></li>
                        <li><a href="https://scrapays.com">Terms of use</a></li>
                    </ul>
                </div>

                <div class="col-md-12 text-center text-white h4 pb-3">
                    <div class="copyright-info text-center">
                        &copy; Copyright {{ year }} Scrapays
                    </div>
                </div>
            </div><!-- Row end -->
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
                <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
            </div>
        </div><!-- Container end -->
    </footer><!-- Footer end -->