        <section class="wlcm-sec">
        <div class="wlcm-container text-center">
            <h2 class="wlcm-title animated2">
                Scrapays simplifies waste collection <br> for everyone.
            </h2>
            <h4 class="animated3 wlcm-body">
                Looking to recycle your household waste, sell your waste, host a waste <br>
        collection center, or become an household collector. We can make it <br>
        happen for you at Scrapays.
            </h4>
            <p class="animated4"><a routerLink="/producers" class="btn btn-primary white">Learn More</a><br><br>
                <a href="#" class="animated4 grow watch-video">
                    <div class="grow w-auto">
                        <img class="" src="assets/fonts/play-icon.png" alt="play icon">
                    <br>Watch Video
                    </div>
                </a>
            </p>
        </div>
    </section><br><br>
    
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Scrapays redefines waste. <br> We allow you to get value off your waste.</h2>
        </div>
    </div><br> <br>
    
    
    
    <section id="image-block" class="image-block p-0">
        <div class="container-fluid pr-md-0">
            <div class="row">
                <div class="col-md-6 ts-padding order-md-2 support-img"
                    style="background:url(assets/images/producer-sec-img.jpg) 50% 50% / cover no-repeat;">
                </div>
                <div class="col-md-6 order-md-1 py-md-5 mt-5 my-md-5 d-flex align-items-center">
                    <div class="text-left text-md-right mr-md-5">
                        <h1><span style="color: #FF7900">Waste </span>Producers</h1>
                        <p class="h3">What have you done with your waste today? <br>
                            Now you can sell your recyclable waste on demand and get paid. <br>
                            Aggregate materials and reach us to get them out.
                        </p>
                        <div class="gap-30"></div>
    
                    <div class="text-left text-md-right">
                        <a href="#0" class="btn btn-primary solid cd-btn" routerLink="/producers">Scrap Am</a><br><br>
                    </div>
                    </div>
            </div>
            </div>
        </div>
    </section>
    
    
    <div class="gap-40"></div>
    <div class="gap-40"></div>
    
    
    <section id="image-block" class="image-block p-0">
        <div class="container-fluid pl-md-0">
            <div class="row">
                <div class="col-md-6 ts-padding support-img"
                    style="background:url(assets/images/vendor-img.jpg) 50% 50% / cover no-repeat;">
                </div>
                <div class="col-md-6 py-md-5 mt-5 my-md-5 d-flex align-items-center justify-content-end">
                    <div class="text-right text-md-left ml-md-5">
                        <h1><span style="color: green;">Vendor </span>Partnerships</h1>
                        <p class="h3"> Have  some space? Host a collection outlet. <br>
                            Become an Independent vendor; Earn from <br>
                            your extra space.
                        </p>
                    <div class="gap-30"></div>
    
                    <div class="text-right text-md-left">
                        <a href="#0" class="btn btn-primary solid cd-btn" routerLink="/vendors">Get Started</a><br><br>
                    </div>
                    </div>
    
                </div>
                
            </div>
        </div>
    </section>
    
    <div class="gap-40"></div>
    


    <section id="image-block" class="image-block p-0 collector-sec">
        <div class="container-fluid">
            <div class="row py-md-5 my-md-5 py-2 my-2">
                    <div class="text-left py-md-5 my-md-5 py-3 my-3 ml-md-5">
                        <h1 class="text-success">Become a trained collector</h1>
                        <p class="text-white h3">Collect materials in your area. <br>				
                            With you, we have got it all covered. <br> You Collect, We Pay. <br>
                            Choose to become a household collector.
                        </p>
                        <div class="gap-30"></div>
    
                    <div class="text-left">
                        <a href="#0" class="btn btn-primary solid cd-btn" routerLink="/collectors">Get Started</a><br><br>
                    </div>
                    </div>
            </div>
        </div>
    </section>

    
      <div class="gap-40"></div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h2>Meet our Trained Collectors</h2>
        </div>
    </div><br> <br>
    
    
    <div class="row text-center">
        <div class="col-md-4 col-sm-6">
            <div class="team wow slideInLeft">
                <div class="img-hexagon">
                    <img src="assets/images/team/collector-1.jpg" alt="">
                    <!-- <span class="img-top"></span> -->
                    <!-- <span class="img-bottom"></span> -->
                </div>
                <div class="team-content">
                    <h3>Kunle Ashiru</h3>
                </div>
            </div>
        </div>
        <!--/ Team 1 end -->
        <div class="col-md-4 col-sm-6">
            <div class="team wow slideInLeft">
                <div class="img-hexagon">
                    <img src="assets/images/team/collector-2.jpg" alt="">
                    <!-- <span class="img-top"></span> -->
                    <!-- <span class="img-bottom"></span> -->
                </div>
                <div class="team-content">
                    <h3>Baba Yahaya</h3>
                </div>
            </div>
        </div>
        <!--/ Team 2 end -->
        <div class="col-md-4 col-sm-6">
            <div class="team wow slideInRight">
                <div class="img-hexagon">
                    <img src="assets/images/team/collector-3.jpg" alt="">
                    <!-- <span class="img-top"></span> -->
                    <!-- <span class="img-bottom"></span> -->
                </div>
                <div class="team-content">
                    <h3>Taiye Ogidan</h3>
                </div>
            </div>
        </div>
        <!--/ Team 3 end -->
    </div><br><br>
    
    
   <!-- missing -->
   <section id="image-block" class="image-block p-0 ">
    <div class="container-fluid pl-md-0">
        <div class="row">
            <div class="col-md-6 support-img"
                style="background:url(assets/images/icb-img.jpg) 50% 50% / cover no-repeat;">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <div class="img-block-head text-left ml-md-5">
                        <h1><span style="color: orange;">Information Collection Business</span></h1>
                            <div class="gap-30"></div>
                        <p class="h3"> No More... Oga Your Market Never Complete! <br>
                            Take Control of your Scrap Business. <br>
                            You can now Fund Scrap Collection, without your Money growing wings. <br>
                        </p>
                    </div>
    
                    <div class="gap-30"></div>
    
                    <div class="text-left ml-md-5">
                        <a href="#0" class="btn btn-primary solid cd-btn">How it works</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><br><br>
    
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Listing</h1>
            <svg
            width="138"
            height="12"
            viewBox="0 0 138 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="138" height="12" rx="6" fill="#FF7900" /></svg>
        </div>
    </div><br> <br>
    
    
    <div id="main-slide" class="carousel slide mb-5 mx-md-5" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/home-scrap-carousel-17.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/bus8.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/bus1.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/bus2.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/bus4.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                    <div class="col-4 px-1 p-md-2">
                        <p class="">
                            <img src="assets/images/carousels/bus5.jpg" alt="listing image" class="w-100">
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row">
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/bus6.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/car1.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/car2.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="row">
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-1.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-2.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-3.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="row">
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-4.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-5.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-6.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="row">
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-7.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-8.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-9.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
            </div>
        </div>
            <div class="carousel-item">
                <div class="row">
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-13.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-14.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
                        <div class="col-4 px-1 p-md-2">
                            <p class="">
                                <img src="assets/images/carousels/home-scrap-carousel-15.jpg" alt="listing image" class="w-100">
                            </p>
                        </div>
            </div>
        </div>
                <a class="left carousel-control carousel-control-prev" href="#main-slide" data-slide="prev">
                    <span><i class="fa fa-angle-left"></i></span>
                </a>
                <a class="right carousel-control carousel-control-next" href="#main-slide" data-slide="next">
                    <span><i class="fa fa-angle-right"></i></span>
                </a>
        </div>
    </div>
    
<p class="h1 text-center mt-5">You List It, We Scrap It, You Get Paid</p>
<div class="h4 d-flex justify-content-center">
  <div class="w-md-70 text-center">
    Don't just let it rut off or take unnecessary space, get premium market
    scrap value for that "Out-of-Use" / Bulk scrap; water vessels, condemned
    trucks, machineries, caterpillars, cars, other materials including copper,
    aluminium, batteries and metals. <br /><br />
    List your item, make a description and get a digital price estimate
  </div>
</div>
    
    
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary btn-min-block solid" routerLink="/listing">Get Started</a>
        </div>
    </div><br><br>
    <!--/ Row end -->
