    <footer id="footer" class="footer footer2 pb-3">
        <div class="container">

            <div class="row">
                <div class="col-md-6 col-sm-12 footer-widget footer-about-us">
                    <h3 class="widget-title"><img class="img-fluid" src="assets/images/main-logo.png" alt="logo"></h3>
                    <div class="row">
                        <div class="col-md-6">
                            <strong>Email: </strong>
                            <p><a href="mailto:hello@scrapays.com">hello@scrapays.com</a></p>
                        </div>
                        <div class="col-md-6">
                            <strong>Phone No.</strong>
                            <p> +234 (0) 8104323995 <br> +234 (0) 816 367 8475</p>
                        </div>
                    </div>
                    <br />
                    <div class="team-social">
                        <a class="fb" href="https://web.facebook.com/scrapays" target="_blank"><i class="fa fa-facebook"></i></a>
                        <a class="twt" href="https://twitter.com/scrapays_HQ" target="_blank"><i class="fa fa-twitter"></i></a>
                        <a class="linkdin" href="https://www.linkedin.com/company/scrapays/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        <a class="instagram" href="https://www.instagram.com/scrapays_hq/" target="_blank"><i class="fa fa-instagram"></i></a>
                    </div><br>
                </div>

                <div class="col-md-6 col-sm-12 footer-widget">

                    <ul class="unstyled arrow">
                        <li><span style="text-transform: uppercase;">Product</span></li>
                        <li><span style="text-transform: uppercase;">Support</span></li>
                        <li><a href="#">Download App</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Pricing</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><span style="text-transform: uppercase;">Company</span></li>
                        <li><span style="text-transform: uppercase;">LEGAL</span></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Privacy policy</a></li>
                    </ul>

                </div>
                <!--/ End Recent Posts-->
                <div class="col-md-12 text-left">
                    <div class="copyright-info">
                        &copy; Copyright {{ year }} Scrapays
                    </div>
                </div>
            </div><!-- Row end -->
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix position-fixed">
                <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
            </div>
        </div><!-- Container end -->
    </footer><!-- Footer end -->