mat-sidenav-container{
    height: calc(100% - 78px);
    /* z-index: -1; */
}
mat-side-nav{
    padding-top: 110px;
}
.list-item-active{
    color: var(--primary);
    font-weight: bold;
}
.logo-container{
    width: 100px;
}
.logo-container img{
    /* width: 80px;
    margin: auto; */
    position: absolute;
    bottom: 20px;
}