<section class="enterprises-wlcm-sec py-md-5">
	<div class="wlcm-container text-center my-md-5 py-md-5 w-md-70 mx-auto">
		<h2 class="wlcm-title animated2 text-capitalize mt-md-5 h3">
			<span class="h2 font-weight-bold sc-orange">Scrapays For Enterprise</span> <br><br>
            What is the Volume of Materials your company gave off last month or last quarter?
            What was the actual return in direct reward (Cash or diverted) gotten? <br><br>

            <span class="h4">If you got an answer. Great! Where from and how fast? </span>
		</h2><br>
		<h3 class="animated3 wlcm-body mb-md-5">
			<a class="btn btn-primary solid cd-btn" routerLink="/signup">Get Started</a>
		</h3>
	</div>
</section><br><br>

<h3 class="w-100 text-center sc-orange mb-4">
    Run your Material disposal operations on auto-pilot
</h3>

<h4 class="w-100 text-center mb-4">
    <div class="w-md-70 mx-auto enterprise-border position-relative">
		Save over <span class="sc-orange">25% return</span> on your material disposal revenue lost resulting from middlemen transactions and falsified reports of volume generated. 
	</div>
</h4>

<div class="gap-40"></div>
<div class="row pl-md-3 my-5">
		<div class="col-sm-5 text-center text-sm-left align-items-center order-sm-2">
			<img src="assets/images/automate_1.png" alt="Two trash collectors img" class="collectors-img">
		</div>
		<div class="col-sm-7 collector-col1 d-flex align-items-center order-sm-1">
				<div class="collector-col1-container my-5 mr-md-5">
					<div class="ml-md-5 h1 sc-green">
						Automate Operations 
					</div><br>
					<div class="ml-md-5 h3">
						Manage the volume of materials and return received
						using our easy to use Inventory 
						management system. Full Automation when 
						Scrapays is also your collection partner.
					</div>
			</div>
		</div>
  </div>
  <div class="gap-40"></div>

<div class="row pl-md-3 my-5">
		<div class="col-sm-5 text-center text-sm-right align-items-center order-sm-1">
			<img src="assets/images/estimate_1.png" alt="Two trash collectors img" class="collectors-img">
		</div>
		<div class="col-sm-7 collector-col1 d-flex align-items-center order-sm-2">
				<div class="collector-col1-container my-5 mr-md-5">
					<div class="ml-md-5 h1 sc-green">
						Business Insights 
					</div><br>
					<div class="ml-md-5 h3">
						Predict what volume of material will be given
					 off in your next cycle and potential return
					</div>
			</div>
		</div>
  </div>
  <div class="gap-40"></div>

<div class="row pl-md-3 my-5">
		<div class="col-sm-5 order-sm-2 text-center text-sm-left">
			<img src="assets/images/person_to_person.png" alt="Two trash collectors img" class="collectors-img">
		</div>
		<div class="col-sm-7 collector-col1 d-flex align-items-center order-sm-1">
				<div class="collector-col1-container my-5 mr-md-5">
					<div class="ml-md-5 h1 sc-green">
						Digital Transformation
					</div><br>
					<div class="ml-md-5 h3">
						Record collection transactions and 
						automate person to person processes 
					</div>
			</div>
		</div>
  </div>
  <div class="gap-40"></div>

<div class="row pl-md-3 my-5">
		<div class="col-sm-5 text-center text-sm-right align-items-center order-sm-1">
			<img src="assets/images/phone_mockup.png" alt="Two trash collectors img" class="collectors-img">
		</div>
		<div class="col-sm-7 collector-col1 d-flex align-items-center order-sm-2">
				<div class="collector-col1-container my-5 mr-md-5">
					<div class="ml-md-5 h1 sc-green">
						Get Mobile
					</div><br>
					<div class="ml-md-5 h3">
						Access to records anywhere at anytime with
						our live reporting system plus a monthly disposal report
					</div>
			</div>
		</div>
  </div>
  <div class="gap-40"></div>

  <div class="text-center">
	<img src="assets/images/csr_1.png" alt="CSR image" class="collectors-img w-md-40">
  	<div class="gap-40"></div>
	<div class="w-md-70 mx-auto h3">
		Our system allows you to fulfill your CSR obligation as an organisation. You can voluntarily decide to support any of our listed SDG initiatives. You get a CSR Certificate for your supports and an environmental compliance badge.
	</div>
  </div>
  <div class="gap-40"></div>

  <h3 class="w-100 text-center sc-orange mb-4">
    Get Organised, Predict future volume and get Premium Value.
</h3>

<h3 class="w-100 text-center mb-4 text-white bg-orange py-5 shadow shadow-md">
    <div class="w-md-70 mx-auto">
		“Scrapays Enterprise lets you bring all your recyclable <br class="d-none d-md-block"> 
		disposal process, volume and return generated into one system.“ <br><br>

		<h4>Scrapays Enterprise Management System is totally free</h4>
	</div>
</h3>

<div class="w-100 text-center mb-4">
	<h1 class="sc-green font-weight-bold">Next step for you </h1><br>
	<h3 class="sc-green">Start using Scrapays today</h3><br>
	<a class="btn btn-primary solid cd-btn" routerLink="/signup">Get Started</a>
</div>

