.enterprise-border::after{
     content: "";
    position: absolute;
    bottom: -20px;
    left: 10%;
    margin-left: -10px;
    width: 80%;
    padding-top: 30px;
    border-bottom: 10px solid #F7BB80;
}