.cover{
    background: rgba(196, 196, 196, 0.3);
    width: 100%;
    height: 100%;
}
.custom-label {
display: inline;
}

.regular-checkbox {
display: none;
}

.regular-checkbox + .custom-label {
background-color: #fafafa;
border: 1px solid #cacece;
box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
padding: 9px;
border-radius: 3px;
display: inline-block;
position: relative;
}

.regular-checkbox + .custom-label:active, .regular-checkbox:checked + .custom-label:active {
box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + .custom-label {
background-color: #FF7900;
border: 1px solid black;
box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
color: #99a1a7;
}

.regular-checkbox:checked + .custom-label:after {
content: ‘\2714’;
font-size: 14px;
position: absolute;
top: 0px;
left: 3px;
color: #99a1a7;
}

.big-checkbox + .custom-label {
padding: 18px;
}

.big-checkbox:checked + .custom-label:after {
font-size: 28px;
left: 6px;
}

.schedule-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    border: 0;
    background-color: transparent;
    margin: 20% auto;
}

.modal-cal{
    border: 1px solid #888;
    border-radius: 15px;
    background-color: #fefefe;
    padding: 10px;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}
.time-container{
    border-radius: 15px;
    padding: 10px;
}
.btn-outline-sc {
    color: #FF7900;
    border-color: #FF7900;
}

.btn-outline-sc:hover, .time-selected {
    color: #fff;
    background-color: #FF7900;
    border-color: #FF7900;
}
.mr-2.fake-btn{
    border-radius: 15px;
}
.small-input{
    height: 40px !important;
}
