<div class="dashboard-body pt-5 p-1 py-md-4 px-md-0">
  <div class="row">
    <div class="col-12 mb-2">
      <div class="w-wrap">
        <span class="h5 text-primary ml-2 bb-blue">Overview</span>
      </div>
    </div>
    <div class="col-12 col-md-6 px-md-0">
      <div class="row h-100">
        <div class="col-12 col-md-4 px-0 px-md-2 mb-2">
          <div class="card h-100 bg-orange text-white rounded-card">
            <div class="card-body px-md-2 pb-md-0 pb-xl-3">
              <div class="card-title">
                <img
                  src="assets/images/icons/weight-icon.png"
                  alt="weight icon"
                />
              </div>
              <span class="display-6">
                {{ totalTonnage.toFixed(2) }}
              </span>
              KG <br />
              Total weight of materials disposed
            </div>
          </div>
        </div>

        <div class="col-12 col-md-8 px-0 px-md-2 mb-2">
          <div class="card h-100 rounded-card">
            <div class="card-body px-0 p-md-2 d-flex align-items-center">
              <div class="row">
                <div class="col-12 text-center px-0">
                  <div class="card-title row">
                    <div class="col px-0">
                      Total tonnage disposed per material class
                    </div>
                    <div class="col-2 px-0">
                      <button
                        type="button"
                        class="btn btn-clear float-right py-0"
                        [ngbPopover]="popContent"
                        container="body"
                      >
                        <i
                          class="fa fa-caret-down fa-2x sc-orange"
                          aria-hidden="true"
                        ></i>
                      </button>
                    </div>
                  </div>

                  <ng-template #popContent class="px-0">
                    <ul class="select-material pl-0">
                      <li
                        *ngFor="let material of materials; let i = index"
                        class="border-bottom fake-btn py-2"
                        (click)="addToDisplayedMaterials(material, i)"
                      >
                        <span class="mx-3">
                          {{ material.name }}
                        </span>
                      </li>
                    </ul>
                  </ng-template>
                </div>
                <div class="row">
                  <div
                    class="col-6 d-flex pb-2"
                    *ngFor="let display of displayedMaterials; let i = index"
                    [ngClass]="addBorder(i)"
                  >
                    <img
                      src="{{ URL }}/storage/material_list_images/{{
                        display.image
                      }}"
                      alt="mat icon"
                      *ngIf="display"
                    />
                    <span
                      class="ml-2 ml-md-4 font-weight-bold text-capitalize"
                      *ngIf="display"
                    >
                      {{ display.name }} <br />
                      {{ getDisplayedPrice(display.name) }}kg
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 px-0 px-md-2 mb-4">
          <div class="card shadow-sm h-100">
            <div class="card-header bg-white">
              <span class="font-weight-bold mt-3"
                >Disposal <br class="d-block d-md-none" />
                History (%)</span
              >

              <select
                class="custom-select custom-select-sm w-auto float-right border-0"
              >
                <option value="1" selected>Monthly</option>
                <option value="2">Weekly</option>
                <option value="3">Yearly</option>
              </select>
              <span class="float-right text-blue mt-1 mr-1">Show:</span>
            </div>
            <div class="card-body p-md-1">
              <div class="chart-wrapper">
                <canvas
                  baseChart
                  class="chart"
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColours"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                  style="height: 100%px !important"
                ></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-2 px-md-0 pt-md-5">
      <button
        type="button"
        class="btn btn-white btn-sm solid pl-1 pr-2 text-nowrap mb-2 w-100 small btn-smol"
      >
        <img
          src="assets/images/icons/note.png"
          class="note-icon"
          alt="note icon"
        />
        View Collection Log</button
      ><br />
      <button
        type="button"
        class="btn btn-primary btn-sm solid px-1 pr-2 text-nowrap mb-2 w-100 btn-smol"
        (click)="openCollHistModal()"
      >
        <img
          src="assets/images/icons/clock-history.png"
          class=""
          alt="history icon"
        />
        View Collection history
      </button>
    </div>
    <div class="col-12 col-md-4 px-2 pr-md-2 mb-4 pl-md-1">
      <div class="card h-100 bg-orange text-white rounded-card">
        <div class="card-header bg-transparent">Wallet</div>
        <div class="card-body p-md-2 align-content-between">
          <div class="row mb-2">
            <div class="h5 bb-white">Total Earnings</div>
            <div class="h4 w-100">₦ 0</div>
          </div>
          <div class="row mb-2">
            <div class="w-100 d-flex">
              <div class="h5 bb-white">Earnings</div>
              <div class="space-filler"></div>
              <span class="small mt-1 mr-1">Show:</span>
              <select
                class="custom-select custom-select-sm w-auto border-0 bg-orange"
              >
                <option value="1" selected>This Month</option>
                <option value="2">This Week</option>
                <option value="3">This Year</option>
              </select>
            </div>
            <div class="h4 w-100">₦ 0</div>
          </div>
          <div class="row">
            <div class="row w-100 mb-2">
              <a
                class="text-white h4 pl-0"
                data-toggle="collapse"
                href="#collapseExample"
                role="button"
                aria-expanded="false"
                aria-controls="collapseExample"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                Recharge
              </a>
              <div class="collapse w-100" id="collapseExample">
                <button
                  type="button"
                  class="btn bg-green btn-lg text-white ml-4"
                >
                  Recharge
                </button>
              </div>
            </div>

            <div class="row w-100 mb-2">
              <a
                class="text-white h4 pl-0"
                data-toggle="collapse"
                href="#transferFunds"
                role="button"
                aria-expanded="false"
                aria-controls="transferFunds"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                Transfer Funds
              </a>
              <div class="collapse w-100" id="transferFunds">
                <button
                  type="button"
                  class="btn bg-green btn-lg text-white ml-4"
                >
                  Transfer
                </button>
              </div>
            </div>

            <div class="row w-100 mb-5" *ngIf="User.type == 'Business'">
              <a
                class="text-white h4 pl-0"
                data-toggle="collapse"
                href="#barterOptions"
                role="button"
                aria-expanded="false"
                aria-controls="barterOptions"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                Barter Option
              </a>
              <div class="collapse w-100" id="barterOptions">
                <button
                  type="button"
                  class="btn bg-white sc-orange btn-lg ml-4"
                >
                  Activate
                </button>
                <button
                  type="button"
                  class="btn bg-white sc-orange btn-lg ml-4"
                >
                  Deactivate
                </button>
              </div>
            </div>

            <div class="row w-100 mb-5">
              <a
                class="text-white h4 pl-0"
                data-toggle="collapse"
                href="#fundsWidthHistory"
                role="button"
                aria-expanded="false"
                aria-controls="fundsWidthHistory"
              >
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                Funds Withdrawal History
              </a>
              <div class="collapse" id="fundsWidthHistory">
                <table
                  class="table table-responsive-sm table-hover table-outline mb-0"
                >
                  <thead class="thead-light">
                    <tr>
                      <th>Date and Time</th>
                      <th>Transaction Type</th>
                      <th class="text-right">Amount</th>
                    </tr>
                  </thead>
                  <tbody class="bg-light"></tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #collHist let-modal>
    <div class="modal-body pt-1">
      <div class="d-flex">
        <div class="d-flex justify-content-between flex-grow-1">
          <div>
            <span class="badge bg-orange text-white p-2 h-wrap mt-4">
              Collection History
            </span>
            <i
              class="fa fa-circle-o-notch fa-spin fa-lg ml-4"
              aria-hidden="true"
              *ngIf="historyLoading"
            ></i>
          </div>
          <select
            class="w-auto form-control-sm border-0 mt-4"
            (change)="selectSort($event)"
          >
            <option value="null" disabled selected>Sort By:</option>
            <option value="week">This Week</option>
            <option value="month">This Month</option>
            <option value="year">This Year</option>
          </select>
        </div>
        <div class="w-wrap text-right flex-grow-0">
          <span
            aria-hidden="true"
            class="text-danger text-right fake-btn"
            (click)="modal.dismiss('Cross click')"
            >&times;</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-5 order-md-2">
          <ngb-datepicker
            #dp
            (dateSelect)="onDateSelection($event)"
            [dayTemplate]="t"
            outsideDays="hidden"
            navigation="arrows"
            [maxDate]="maxDate"
            class="w-100"
          >
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>

          <button
            type="button"
            class="btn btn-primary btn-block mt-2 mb-3 mb-md-0"
            (click)="filterByDate()"
            [disabled]="fromDate == undefined"
          >
            Filter
          </button>
        </div>
        <div class="col-12 col-md-7 order-md-1">
          <div class="bb-green w-wrap">
            <span class="bolder h5">Total Tonnage Disposed:</span>
            &nbsp;
            <span class="sc-green"
              >{{
                matHist.totaltonnage ? matHist.totaltonnage : 0
              }}
              &nbsp;kg</span
            >
          </div>
          <div class="mat-hist overflow-auto font-weight-bold flipped pl-4">
            <div *ngFor="let mat of matHist.materials">
              {{ mat.name + ': ' + mat.weight }} kg <&nbsp;
            </div>
            <br />
          </div>
          <div class="bb-green w-wrap">
            <span class="bolder h5">Total amount paid out:</span>
            &nbsp;
            <span class="sc-green"
              >₦
              {{
                formatToCurrency(matHist.totalcost)
                  ? formatToCurrency(matHist.totalcost)
                  : 0
              }}
              &nbsp;</span
            >
          </div>
          <div class="mat-hist overflow-auto font-weight-bold flipped pl-4">
            <div *ngFor="let mat of matHist.materials">
              {{ mat.name + ': ₦ ' + formatToCurrency(mat.cost) }}&nbsp;<
            </div>
            <br />
          </div>
          <div class="bb-green w-wrap">
            <span class="bolder h5">Commission Earned:</span>
            &nbsp;
            <span class="sc-green"
              >₦
              {{
                formatToCurrency(matHist.totalcom)
                  ? formatToCurrency(matHist.totalcom)
                  : 0
              }}
              &nbsp;</span
            >
          </div>
          <div class="mat-hist overflow-auto font-weight-bold flipped pl-4">
            <div *ngFor="let mat of matHist.materials">
              {{ mat.name + ': ₦ ' + formatToCurrency(mat.colCom) }}&nbsp;<
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
