<div class="list-wlcm-sec wlcm-container text-center my-md-5 py-md-5" id="dvImage">
          <h2 class="wlcm-title animated2 mt-5 pt-5">
            Tell us what material it is, <br />
            value it, book an inspection with us and get paid. <br />
          </h2>
          <br /><br />
          <p class="animated3">
            <a (click)="gotoHowItWorks()" class="btn btn-primary white"
              >Get Started</a
            >
          </p>
          <h3 class="animated4">
            <svg
              width="280"
              height="12"
              viewBox="0 0 280 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect width="280" height="12" rx="6" fill="#FF7900" />
            </svg>
          </h3>
        </div>
        
<!-- <section  class="pt-5 pb-4">
  <div id="main-slide" class="ts-flex-slider">
		<div class="flexSlideshow flexslider">
			<ul class="slides">
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-1.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-2.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-3.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-4.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-5.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
				<li>
					<div class="overlay2">
						<img class="" src="assets/images/carousels/home-scrap-carousel-6.jpg" alt="slider">
					</div>
					<div class="flex-caption slider-content">
						<div class="wlcm-container text-center my-md-5 py-md-5">
							<h2 class="wlcm-title animated2 w-md-70 mx-auto">
								Tell us what material it is, <br>
								value it, book an inspection with us and get paid. <br>
							</h2><br><br>
							<p class="animated3"><a (click)="gotoHowItWorks()" class="btn btn-primary white">Get Started</a></p>
											<h3 class="animated4">
								<svg width="280" height="12" viewBox="0 0 280 12" fill="none" xmlns="http://www.w3.org/2000/svg">
								<rect width="280" height="12" rx="6" fill="#FF7900"/>
								</svg>
											</h3>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</section> -->


<p class="h1 text-center">You List It, We Scrap It, You Get Paid</p>
<div class="h4 d-flex justify-content-center">
  <div class="w-md-70 text-center">
    Don't just let it rut off or take unnecessary space, get premium market
    scrap value for that "Out-of-Use" / Bulk scrap; water vessels, condemned
    trucks, machineries, caterpillars, cars, other materials including copper,
    aluminium, batteries and metals. <br /><br />
    List your item, make a description and get a digital price estimate
  </div>
</div>

<section id="about" class="about" id="howitworks">
  <div class="container">
    <div class="row">
      <div class="col-md-12 heading text-center">
        <span class="icon-pentagon wow bounceIn"
          ><i class="fa fa-meh-o"></i
        ></span>
        <h2 class="title2">
          How it works
          <span class="title-desc">Get started with 4 easy steps</span>
        </h2>
      </div>
    </div>
    <!-- Title row end -->
    <!-- featured tab -->
    <div class="row featured-tab px-0 px-md-2">
      <div class="col-md-3 col-sm-5 px-0 px-md-1">
        <div
          class="nav flex-column nav-pills"
          id="v-pills-tab"
          role="tablist"
          aria-orientation="vertical"
        >
          <a
            class="animated fadeIn nav-link mb-1 active d-flex align-items-center"
            data-toggle="pill"
            href="#tab_1"
            role="tab"
            aria-selected="true"
          >
            <i class="fa fa-hashtag mr-4 h3 mb-0"></i>
            <span class="h4 mb-0 font-weight-bold">Step 1</span>
          </a>
          <a
            class="animated fadeIn nav-link mb-1 d-flex align-items-center"
            data-toggle="pill"
            href="#tab_2"
            role="tab"
            aria-selected="true"
          >
            <i class="fa fa-hashtag mr-4 h3 mb-0"></i>
            <span class="h4 mb-0 font-weight-bold">Step 2</span>
          </a>
          <a
            class="animated fadeIn nav-link mb-1 d-flex align-items-center"
            data-toggle="pill"
            href="#tab_3"
            role="tab"
            aria-selected="true"
          >
            <i class="fa fa-hashtag mr-4 h3 mb-0"></i>
            <span class="h4 mb-0 font-weight-bold">Step 3</span>
          </a>
          <a
            class="animated fadeIn nav-link mb-1 d-flex align-items-center"
            data-toggle="pill"
            href="#tab_4"
            role="tab"
            aria-selected="true"
          >
            <i class="fa fa-hashtag mr-4 h3 mb-0"></i>
            <span class="h4 mb-0 font-weight-bold">Step 4</span>
          </a>
        </div>
      </div>
      <div class="col-md-9 col-sm-7">
        <div class="tab-content" id="v-pills-tabContent">
          <div
            class="tab-pane pl-sm-5 fade show active animated fadeInLeft"
            id="tab_1"
            role="tabpanel"
          >
            <h3>List your item and describe them.</h3>
          </div>
          <div
            class="tab-pane pl-sm-5 fade animated fadeInLeft"
            id="tab_2"
            role="tabpanel"
          >
            <h3>Value your materials yourself</h3>
            <p>
              Provide us with your asking price, show us your materials with
              pictures <br />
              and provide your contact details
            </p>
          </div>
          <div
            class="tab-pane pl-sm-5 fade animated fadeInLeft"
            id="tab_3"
            role="tabpanel"
          >
            <h3>Get an inspection.</h3>
            <p>
              Once you’ve told us about your materials using the form, our
              agents will give you a call <br />
              to arrange a physical evaluation. Our price ensures you get a
              current market scrap value.
            </p>
          </div>
          <div
            class="tab-pane pl-sm-5 fade animated fadeInLeft"
            id="tab_4"
            role="tabpanel"
          >
            <h3>Get Paid</h3>
            <p>
              Once inspection is done and a price is agreed and purchase terms
              acknowledged <br />
              payment is made.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container end -->
</section>
<!-- About end -->

<section id="image-block" class="image-block p-0 mb-5">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-6 ts-padding order-md-2 support-img"
        style="
          background: url(assets/images/model-img.jpg) 50% 50% / cover no-repeat;
        "
      ></div>
      <div
        class="col-md-6 order-md-1 py-md-5 mt-5 my-md-5 d-flex align-items-center justify-content-end"
      >
        <div class="mr-md-5 text-md-right">
          <svg
            width="138"
            height="12"
            viewBox="0 0 138 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="138" height="12" rx="6" fill="#FF7900" /></svg>
			<br /><br /><br />
          <p class="h1">
            OUR MODEL IS FAST <br />
            AND FREE OF DELAYS.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="gap-40"></div>

<p class="h2 ml-md-5 ml-1">
  Completed & Ongoing projects <br />
  <svg
    width="10%"
    height="12"
    viewBox="0 0 138 12"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <rect width="138" height="12" rx="6" fill="#049B41" />
  </svg>
</p>


<div
  id="main-slide"
  class="carousel slide my-md-5 mb-5 mx-md-5"
  data-ride="carousel"
>
  <ol class="carousel-indicators m-0">
    <li data-target="#main-slide" data-slide-to="0" class="active"></li>
    <li data-target="#main-slide" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/exaust-img.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/half-tractor.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/exaust-img.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/exaust-img.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/half-tractor.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
        <div class="col-4 position-relative px-1 px-md-3">
          <img
            src="assets/images/carousels/exaust-img.jpg"
            alt="First slide"
            class="car-image"
          />
          <div class="custom-caption mt-5 mt-md-0 align-bottom d-md-block">
            <span class="c-img-text"
              >Ongoing project with <br />
              Rem Bam Nigeria Ltd </span
            ><br />
            <svg
              class="c-img-svg"
              width="35%"
              height="7"
              viewBox="0 0 138 7"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                y="0.97583"
                width="138"
                height="6.0241"
                rx="3.01205"
                fill="#049B41"
              />
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
  <a
    class="left carousel-control carousel-control-prev"
    href="#main-slide"
    data-slide="prev"
  >
    <span><i class="fa fa-angle-left"></i></span>
  </a>
  <a
    class="right carousel-control carousel-control-next"
    href="#main-slide"
    data-slide="next"
  >
    <span><i class="fa fa-angle-right"></i></span>
  </a>
</div>
<div class="gap-40"></div>

<div class="container mb-5 listing-form px-1 px-md-3">
  <form [formGroup]="Form" (ngSubmit)="list(Form.value)" novalidate>
    <div class="row">
      <div class="col-12">
        <h3 class="title-border mt-md-0 mt-3">Fill the form below.</h3>
        <div class="gap-30"></div>
      </div>
      <div class="col-md-6 px-1 px-md-3">
        <div class="form-group">
          <label>First Name</label>
          <input
            class="form-control"
            name="firstname"
            id="firstname"
            type="text"
            formControlName="firstName"
          />
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.firstName"
            >
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  Form.get('firstName').hasError(validation.type) &&
                  (Form.get('firstName').dirty || Form.get('firstName').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-1 px-md-3">
        <div class="form-group">
          <label>Last Name</label>
          <input
            class="form-control"
            name="lastname"
            id="lastname"
            formControlName="lastName"
          />
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.lastName"
            >
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  Form.get('lastName').hasError(validation.type) &&
                  (Form.get('lastName').dirty || Form.get('lastName').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-1 px-md-3">
        <div class="form-group">
          <label>Phone</label>
          <input
            class="form-control"
            name="phone"
            id="phone"
            type="tel"
            formControlName="phone"
          />
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.phone">
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  Form.get('phone').hasError(validation.type) &&
                  (Form.get('phone').dirty || Form.get('phone').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-md-6 px-1 px-md-3">
        <div class="form-group">
          <label>Email</label>
          <input
            class="form-control"
            name="email"
            id="email"
            type="email"
            formControlName="email"
          />
          <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  Form.get('email').hasError(validation.type) &&
                  (Form.get('email').dirty || Form.get('email').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>

      <div class="w-100" formArrayName="materialDescription">
        <div
          class="row"
          *ngFor="let control of FormAsArray.controls; let i = index"
          [formGroupName]="i"
        >
          <div class="col-12 h3 bg-light">
            Item <span *ngIf="itemCount > 1">{{ i + 1 }}</span>
          </div>
          <div
            class="col-12 d-flex align-items-center justify-content-center mb-md-5 mr-md-5 pb-1 mb-5"
          >
            <div
              class="text-center file-upload-div w-md-75 w-100"
              (fileDropped)="onFileDropped($event, i)"
              appDnd
            >
              <div class="row" *ngIf="files.length > 0">
                <div
                  class="col-12 col-md-4 p-3"
                  *ngFor="let file of files[i].images; let in = index"
                >
                  <img [src]="file.url" class="w-100" />
                  <h4>
                    {{ file?.name }}
                  </h4>
                  <p>Size: {{ formatBytes(file?.size) }}</p>
                  <button
                    class="btn btn-clear text-center mb-3"
                    (click)="deleteFile(i, in)"
                  >
                    <i class="fa fa-trash text-danger" aria-hidden="true"></i>
                  </button>
                </div>
                <div
                  class="col-md-4 text-center p-5"
                  *ngIf="files[i].images.length > 2"
                >
                  <div
                    class="btn btn-danger w-100"
                    type="button"
                    (click)="removeAll(i)"
                  >
                    <br />
                    <i class="fa fa-trash" aria-hidden="true"></i><br /><br />
                    Remove All <br />
                  </div>
                </div>
              </div>
              <input
                #fileInput
                type="file"
                (change)="onFileInput($event, i)"
                class="d-none"
                name="listingImages"
                accept="image/*"
                multiple
              />
              <img
                src="assets/images/multimedia.png"
                alt="placeholder image"
                class="file-img"
                *ngIf="files[i].images.length == 0"
              />
              <p class="h3 text-center">
                Drop image here, or
                <button
                  class="btn btn-primary solid blank"
                  (click)="fileInput.click()"
                  type="button"
                >
                  Browse
                </button>
              </p>
              <p class="h5 text-center" *ngIf="validateImages(i) == true">
                Supports JPG, JPEG, PNG <br />
                Upload a
                <span class="text-danger text-bold">maximum of 3</span> images
                taken at different angles <span class="text-danger text-bold">not larger than 2MB</span> each. 
              </p>
              <div class="validation-errors mx-3">
                <ng-container
                  *ngFor="
                    let validation of validation_messages.materialLocation
                  "
                >
                  <div
                    class="error-message alert alert-danger"
                    *ngIf="validateImages(i) == false"
                  >
                    <i class="fa fa-info-circle text-danger"></i> &nbsp;
                    <span class="text-danger"
                      >Upload at least an image and a maximum of 3 images not larger than <span class="text-bold h3">2MB</span> each.</span
                    >
                  </div>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="col-12 px-1 px-md-3">
            <div class="form-group">
              <label>Material Description</label>
              <textarea
                class="form-control"
                rows="3"
                formControlName="description"
              ></textarea>
              <div class="validation-errors">
                <ng-container
                  *ngFor="let validation of validation_messages.description"
                >
                  <div
                    class="error-message alert alert-danger"
                    *ngIf="
                      control.controls.description.hasError(validation.type) &&
                      (control.controls.description.dirty ||
                        control.controls.description.touched)
                    "
                  >
                    <i class="fa fa-info-circle text-danger"></i> &nbsp;
                    <span class="text-danger">{{ validation.message }}</span>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="col-12 text-right mb-3 mb-md-5" *ngIf="itemCount > 1">
            <button
              class="btn btn-danger solid blank"
              (click)="removeItem(control, i)"
              type="button"
            >
              Remove item <i class="fa fa-trash" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
      <br /><br />

      <div class="col-12 text-center">
        <button
          class="btn btn-primary solid blank"
          (click)="addItem()"
          type="button"
        >
          Add item <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
      </div>

      <div class="col-12 px-1 px-md-3">
        <div class="form-group">
          <label>Material Location</label>
          <textarea
            class="form-control"
            name="materialLocation"
            id="materialLocation"
            rows="3"
            formControlName="materialLocation"
          ></textarea>
          <div class="validation-errors">
            <ng-container
              *ngFor="let validation of validation_messages.materialLocation"
            >
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  Form.get('materialLocation').hasError(validation.type) &&
                  (Form.get('materialLocation').dirty ||
                    Form.get('materialLocation').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="text-center position-relative">
          <br />
          <button
            class="btn btn-primary solid blank"
            type="submit"
            [disabled]="!Form.valid || imagesSubmitted() == false"
          >
            Submit</button
          ><br />
          <ngx-loading [show]="loading"></ngx-loading>
        </div>
      </div>
    </div>
  </form>
</div>

<p class="h2 text-center mb-5 font-weight-bold text-secondary">
  Know someone who has BULK scrap? Connect the seller for a brokerage fee.
</p>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ modalBody }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
