<section class="wlcm-sec2" id="individuals">
  <div class="row">
    <div class="col-md-6">
      <div class="wlcm-container text-center ml-md-5">
        <h2 class="wlcm-title2 animated2">
          Thinking it is just a <span style="color: #FF7900">waste?</span>
          <br />
          Not anymore
        </h2>
        <h4 class="animated3 wlcm-body2">
          Those stashed old paper, plastic, cartons or even that abandoned
          vehicle, truck, warehouse equipment, iron sheet or stockpile from your
          production line is just sitting around could still get you smiling.
        </h4>
      </div>
    </div>
    <div
      class="col-md-6 text-center d-flex align-items-center justify-content-center"
    >
      <h1 class="wlcm-col2 animated6">Just Scrap Am</h1>
    </div>
  </div>
</section>
<br /><br />

<div class="row">
  <div class="col-md-12 heading text-center">
    <h2 class="title2 titleunder">How it works</h2>
  </div>
</div>

<section id="image-block" class="image-block p-0 ">
  <div class="container-fluid">
    <div class="row">
      <div
        class="col-md-6 order-md-2 support-img"
        style="background:url(assets/images/man-in-suit.png) 60% 50% / cover no-repeat;"
      ></div>
      <div class="col-md-6 order-md-1 d-flex align-items-center">
        <div class="text-right">
          <div class="img-block-head text-left text-md-right mr-md-5">
            <h1><span style="color: orange;"> No prior registration </span></h1>
            <br /><br />
            <div class="h3">
              Dial *384*42# <br />
              OR <br />
              Send “Collect” to 38442 today to get started <br />
              (Follow the prompt and a local collector gets in touch with you)
              <br />
            </div>
          </div>

          <div class="gap-30"></div>

          <div class="text-left text-md-right mr-md-5">
            <svg
              width="70"
              height="10"
              viewBox="0 0 70 10"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <line
                x1="5"
                y1="5"
                x2="65"
                y2="5"
                stroke="#FF7900"
                stroke-width="10"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
          <!--/ End 1st block -->
        </div>
      </div>
    </div>
  </div>
</section>
<br /><br />

<section class="download-sec py-0 my-5">
  <div class="row">
    <div class="col-sm-4 pl-1 pl-md-5 text-center text-md-right">
      <img
        src="assets/images/scrapays-phone.png"
        class="scrapays-phone"
        alt="scrapays image on phone"
      />
    </div>
    <div class="col-sm-8 pl-4 pt-5">
      <div>
        <h1 class="dwnld-title">Download/ Signup</h1>
        <svg
          width="81"
          height="11"
          viewBox="0 0 81 11"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="5.0621"
            y1="5.06289"
            x2="75.0629"
            y2="5.9379"
            stroke="#FF7900"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
      <div class="gap-30"></div>
      <div class="dwnld-body h3 w-md-80">
        Simply use our USSD or better still get a free Scrapays app from the
        Apple App Store or Google Play on your smartphone.
      </div>
      <div class="gap-30"></div>
      <div class="row">
        <div class="col-md-6 pl-md-0">
          <a href="https://play.google.com" target="_blank" class=""
            ><img
              src="assets/images/apple-download.png"
              type="button"
              alt="download from app store img"
              class="download-btn"
          /></a>
          <div class="gap-30"></div>
        </div>
        <div class="col-md-6 text-md-right pr-md-5">
          <a href="https://play.google.com" target="_blank" class=""
            ><img
              src="assets/images/download-btn.png"
              type="button"
              alt="download from google play img"
              class="download-btn mr-md-5"
          /></a>
          <div class="gap-30"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<br /><br />

<div class="card-deck px-4">
  <div class="card text-center mx-md-5">
    <div class="card-body">
      <h3 class="card-title text-success">Request Pick Up</h3>
      <div class="card-text">
        Select waste (category) for disposal. <br /><br />
        Click Request Pickup. <br /><br />
        Closest collector get notified.
        <div class="gap-30"></div>
        <br /><br /><br /><br /><br /><br />

        <img
          class="card-img"
          src="assets/images/req-pickup.png"
          alt="request pickup image"
        />
        <div class="gap-30"></div>

        <svg
          width="143"
          height="10"
          viewBox="0 0 143 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="5"
            y1="5"
            x2="138"
            y2="5"
            stroke="#FF7900"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="card text-center mx-md-5">
    <div class="card-body">
      <h3 class="card-title text-success">Pick Up</h3>
      <div class="card-text">
        Collector confirms material(s) and <br />
        measures in various categories. <br /><br />
        Inputs the kilogram/material to generate <br />
        price equivalence. <br /><br />
        You Confirm the value (Kg & price <br />
        equivalence).
        <div class="gap-30"></div>
        <br /><br />
        <img
          class="card-img"
          src="assets/images/pickup-img.png"
          alt="pickup image"
        />
        <div class="gap-30"></div>
        <br />
        <svg
          width="143"
          height="10"
          viewBox="0 0 143 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="5"
            y1="5"
            x2="138"
            y2="5"
            stroke="#FF7900"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
  <div class="card text-center mx-md-5">
    <div class="card-body">
      <h3 class="card-title text-success">Get Paid</h3>
      <div class="card-text">
        The price equivalence of the material <br />
        gets paid directly to you or disbursed <br />
        in your scrapays account and can be <br />
        transferred to your bank account.
        <div class="gap-30"></div>
        <div class="gap-30"></div>
        <div class="gap-30"></div>
        <div class="gap-30"></div>
        <div class="gap-30"></div>

        <img
          class="card-img"
          src="assets/images/getpaid-img.png"
          alt="get paid image"
        />
        <div class="gap-30"></div>

        <svg
          width="143"
          height="10"
          viewBox="0 0 143 10"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <line
            x1="5"
            y1="5"
            x2="138"
            y2="5"
            stroke="#FF7900"
            stroke-width="10"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </div>
    </div>
  </div>
</div>
<div class="gap-30"></div>
<div class="gap-30"></div>

<div class="banner">
  <div class="row">
    <div
      class="col-md-4 order-md-2 py-5 d-flex align-items-center justify-content-center"
    >
      <img class="banner-img" src="assets/images/sort-it-img.png" alt="" />
    </div>
    <div class="pl-md-5 col-md-8 d-flex align-items-center">
      <div>
        <div class="h1 mt-4 mb-4">
          Sort It, Earn Cash
        </div>
        <div class="h3">
          Simply do the waste sorting into different bags right from <br />
          the disposal stage and you get qualified.
        </div>
        <div class="gap-30"></div>
        <a routerLink="/signup" class="btn btn-primary solid cd-btn"
          >Get Started</a
        >
        <div class="gap-30"></div>
      </div>
    </div>
    <div class="col-12 order-3 p-0 text-center mb-3">
      <i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row">
    <div
      class="col-md-4 order-md-2 py-5 d-flex align-items-center justify-content-center"
    >
      <img class="banner-img" src="assets/images/impact-img.png" alt="" />
    </div>
    <div class="pl-md-5 col-md-8 d-flex align-items-center">
      <div>
        <div class="h1 mt-4 mb-4">
          Have an Impact, get Involved
        </div>
        <div class="h3">
          The future will either be green or not at all. As waste producers
          <br />
          individual participation has an immediate impact on the environment
          <br />
          and public health. Together we push for a zero waste community. <br />
        </div>
        <div class="gap-30"></div>
        <a routerLink="/signup" class="btn btn-primary solid cd-btn"
          >Get Started</a
        >
        <div class="gap-30"></div>
      </div>
    </div>
    <div class="col-12 order-3 p-0 text-center mb-3">
      <i class="fa fa-chevron-down fa-5x" aria-hidden="true"></i>
    </div>
  </div>

  <div class="row">
    <div
      class="col-md-4 order-md-2 py-5 d-flex align-items-center justify-content-center"
    >
      <img class="banner-img" src="assets/images/full-lib-img.png" alt="" />
    </div>
    <div class="pl-md-5 col-md-8 d-flex align-items-center">
      <div>
        <div class="h1 mt-4 mb-4">
          Full Liberty, Take Control
        </div>
        <div class="h3">
          Normally you would have to wait until the collectors are ready for
          you. Not again!!! <br />
          They now work with your schedule, at your convenience.
        </div>
        <div class="gap-30"></div>
        <a routerLink="/signup" class="btn btn-primary solid cd-btn"
          >Get Started</a
        >
        <div class="gap-30"></div>
      </div>
    </div>
  </div>
</div>

<div class="text-center mb-3 h1 mt-md-5  mb-md-5 text-bold titleunder" id="businesses">
  Scrapays for Businesses <br>
   <svg
            width="200"
            height="7"
            viewBox="0 0 200 7"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <rect width="200" height="7" rx="6" fill="#FF7900" /></svg>
</div>

<div class="h2 d-flex justify-content-center">
  <div class="w-md-70 text-center">
    Do you produce regular recyclable waste during your production and
    operations process?
  </div>
</div>
<br />
<div class="h3 d-flex justify-content-center">
  <div
    class="w-md-70 ml-1 text-center ml-md-5 title-border mr-2 mr-md-5"
  >
    Get an all-in-one solution that simplifies how your valuable waste is
    managed. <br />
  </div>
</div>
<div class="gap-10"></div>

<div id="main-slide" class="carousel slide mb-5 mx-md-5" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row p-md-auto">
        <div class="col-5 px-1 p-md-2">
          <p class="">
            <img
              src="assets/images/carousels/business-scrap-1.jpg"
              alt="listing image"
              class="w-100"
            />
          </p>
        </div>
        <div class="col-5 px-1 p-md-2 offset-2">
          <p class="">
            <img
              src="assets/images/carousels/business-scrap-2.jpg"
              alt="listing image"
              class="w-100"
            />
          </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col-5 px-1 p-md-2">
          <p class="">
            <img
              src="assets/images/carousels/business-scrap-3.jpg"
              alt="listing image"
              class="w-100"
            />
          </p>
        </div>
        <div class="col-5 px-1 p-md-2 offset-2">
          <p class="">
            <img
              src="assets/images/carousels/business-scrap-4.jpg"
              alt="listing image"
              class="w-100"
            />
          </p>
        </div>
      </div>
    </div>
    <a
      class="left carousel-control carousel-control-prev"
      href="#main-slide"
      data-slide="prev"
    >
      <span><i class="fa fa-angle-left"></i></span>
    </a>
    <a
      class="right carousel-control carousel-control-next"
      href="#main-slide"
      data-slide="next"
    >
      <span><i class="fa fa-angle-right"></i></span>
    </a>
  </div>
</div>

<div class="h3 d-flex justify-content-center">
  <div class="w-md-70 text-center mt-md-5">
    We offtake Metal, Aluminium, paper/Carton, and Lead (batteries) scrap waste
    from businesses we partner with.
  </div>
</div>
<br />

<div class="mx-3 mx-md-5 my-5">
	<span class="h2 mb-5">A few of the Industry categories we work with include;  </span><br><br>

	<ul class="unstyled arrow h3">
	<li>Fabrication and Construction</li><br>
	<li>Food and Beverages</li><br>
	<li>Printing press</li><br>
	<li>Automobiles and transportation</li>
	</ul>
</div>

    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Scrapays Offerings</h1>
        </div>
    </div>
  

<section id="feature" class="feature">
  <div class="container">
    <div class="row">
      <div
        class="feature-box col-sm-6 wow fadeInDown mb-3"
        data-wow-delay=".5s"
      >
        <span class="feature-icon float-left"
          ><i class="fa fa-diamond"></i
        ></span>
        <div class="feature-content">
          <h3>
            Premium scrap value for your recyclable operations and production
            waste.
          </h3>
        </div>
      </div>
      <!--/ End first featurebox -->

      <div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
        <span class="feature-icon float-left"><i class="fa fa-money"></i></span>
        <div class="feature-content">
          <h3>Vated Invoice for all our transactions with you.</h3>
        </div>
      </div>
      <!--/ End 2nd featurebox -->
    </div>
    <!-- Content row end -->

    <div class="gap-40"></div>

    <div class="row">
      <div
        class="feature-box col-sm-6 wow fadeInDown mb-3"
        data-wow-delay=".5s"
      >
        <span class="feature-icon float-left"
          ><i class="fa fa-line-chart"></i
        ></span>
        <div class="feature-content">
          <h3>
            A digital dashboard that gives you an up to date quantity of
            scrapable waste you produce in all you operations and the monetary
            value you have been able to get for it.
          </h3>
        </div>
      </div>
      <!--/ End 1st featurebox -->

      <div class="feature-box col-sm-6 wow fadeInDown" data-wow-delay=".5s">
        <span class="feature-icon float-left"
          ><i class="fa fa-recycle"></i
        ></span>
        <div class="feature-content">
          <h3>
            CSR; Because our driving vision is to have a zero waste environment.
            A cut of what we get from you is used to sponsor our "cash for
            Trash" initiative in suburbs. Your get a CSR Certificate for
            sponsoring a spcific tonnage of recyclables and an environmental
            compliance badge.
          </h3>
        </div>
      </div>
      <!--/ End 2nd featurebox -->
    </div>
    <!-- Content row end -->
  </div>
  <!--/ Container end -->
</section>

<div class="row">
<div class="col-12 col-md-5 text-center text-md-right">
  <a class="btn btn-primary btn-min-block solid" routerLink="/signup">Get Started</a>
</div>
<div class="col-12 col-md-2 d-flex justify-content-center align-items-center">
  <span class="h2 text-bold">OR</span>
</div>
<div class="col-12 col-md-5 text-center text-md-left">
  <a routerLink="/contact" class="btn btn-primary contact-btn">Contact us directly</a>
</div>
</div>

<div class="gap-30"></div>
