<div id="banner-area" class="mt-5">
	<img src="assets/images/banner/image-404.png" alt="" />
	<div class="parallax-overlay"></div>
	<!-- Subpage title start -->
	<div class="banner-title-content">
		<div class="text-center">
			<h2>404 Page</h2>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item"><a href="https://scrapays.com">Home</a></li>
					<li class="breadcrumb-item text-white" aria-current="page">404 Page</li>
				</ol>
			</nav>
		</div>
	</div><!-- Subpage title end -->
</div><!-- Banner area end -->

<!-- Main container start -->
<section id="main-container">
	<div class="container">
		<div class="error-page text-center">
			<div class="error-code">
				<strong>404</strong>
			</div>
			<div class="error-message">
				<h3>Oops... Page Not Found!</h3>
			</div>
			<div class="error-body">
				Try using the button below to go to the home page. <br />
				<a href="https://scrapays.com" class="btn btn-primary solid blank"><i class="fa fa-arrow-circle-left">&nbsp;</i> Go
					Home</a>
			</div>
		</div>
	</div>
</section>
<!--/ Main container end -->