<div class="dashboard-body pt-5 p-1 p-md-5">
  <div class="row">
    <div class="col-6 col-md-auto">
      <img src="assets/images/icons/user-1.png" class="thumb" alt="User Icon" />
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">First Name</div>
      {{ User.first_name }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Last Name</div>
      {{ User.last_name }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Email</div>
      {{ User.email ? User.email : 'None' }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Phone Number</div>
      {{ User.phone }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Producer ID</div>
      {{ User.id }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Address</div>
      {{ User.userable.request_address }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Account Number</div>
      {{ User.userable.account_number || 'None' }}
    </div>
    <div class="col-6 col-md pt-2">
      <div class="row bolder">Bank</div>
      {{ User.userable.bank || 'None' }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-6 bolder mt-5 mb-3 h4 text-right order-md-2">
      Wallet Balance: {{ formatToCurrency(Balance) }}
    </div>
    <div class="col-12 col-md-6 bolder mt-5 mb-3 h4 order-md-1">
      Total Tonnage Disposed
    </div>
    <div class="col-12 col-md-6 order-md-3">
      <div class="chart-wrapper">
        <canvas
          baseChart
          class="chart"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColours"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"
          style="height: 100%px !important"
        ></canvas>
      </div>

      <button
        type="button"
        class="btn btn-primary btn-sm solid px-1 pr-2 text-nowrap mb-2 w-100 btn-smol"
        (click)="openCollHistModal()"
      >
        <img
          src="assets/images/icons/clock-history.png"
          class=""
          alt="history icon"
        />
        View Collection summary
      </button>
    </div>
    <div class="col-12 col-md-6 order-md-4">
      <div class="bolder">
        Transactions
        <span class="float-right text-muted">{{
          Collections.length > 0
            ? '( ' + (Collections[0].created_at | date: 'shortDate') + ' )'
            : ''
        }}</span>
      </div>
      <div class="hist-list overflow-auto">
        <div
          *ngFor="let trans of Collections; let i = index"
          (click)="selectTransaction(trans)"
          class="fake-btn"
          [ngClass]="{
            'bg-white': trans.id == SelectedTransaction.id,
            'p-3': trans.id == SelectedTransaction.id
          }"
        >
          <span class="bolder">{{ i + 1 + '. ' }}</span
          >Transaction {{ ' ' + trans.id }}
          <span class="float-right">{{ trans.created_at }}</span>
        </div>
      </div>

      <ngb-pagination
        [collectionSize]="collectionSize"
        [(page)]="currentPage"
        [pageSize]="pageSize"
        [maxSize]="5"
        [rotate]="true"
        [ellipses]="true"
        (pageChange)="changePage()"
      >
        <ng-template ngbPaginationPrevious
          ><i class="fa fa-caret-left" aria-hidden="true"></i
        ></ng-template>
        <ng-template ngbPaginationNext
          ><i class="fa fa-caret-right" aria-hidden="true"></i></ng-template
      ></ngb-pagination>
    </div>
  </div>
  <div class="gap-40"></div>
  <div class="row" *ngIf="SelectedTransaction.id">
    <div class="col-12">
      <button
        type="button"
        class="btn btn-clear float-right"
        (click)="SelectedTransaction = {}"
      >
        <i class="fa fa-times-circle text-danger" aria-hidden="true"></i>
      </button>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-6 pb-md-4 bolder">Transaction ID</div>
        <div class="col-6 pb-md-4">:{{ ' ' + SelectedTransaction.id }}</div>
        <div class="col-6 pb-md-4 bolder">Producer ID</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + SelectedTransaction.producer_id }}
        </div>
        <div class="col-6 pb-md-4 bolder">Material(s) Collected</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + formatMaterials(SelectedTransaction.materials) }}
        </div>
        <div class="col-6 pb-md-4 bolder">Tonnage Per Material Class</div>
        <div class="col-6 pb-md-4">
          :
          <span
            [ngClass]="{ 'ml-2': i != 0 }"
            *ngFor="
              let mat of evaluateMaterials(SelectedTransaction.materials);
              let i = index
            "
          >
            {{ mat.name + ': ₦' + formatToCurrency(mat.price) }} <br
          /></span>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="row">
        <div class="col-6 pb-md-4 bolder">Total Tonnage</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + SelectedTransaction.total_tonnage }}kg
        </div>
        <div class="col-6 pb-md-4 bolder">Payment Approved</div>
        <div class="col-6 pb-md-4">
          :{{ formatToCurrency(SelectedTransaction.cost) }}
        </div>
        <div class="col-6 pb-md-4 bolder">Payment Type</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + SelectedTransaction.payment_method }}
        </div>
        <div class="col-6 pb-md-4 bolder">Time Stamp</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + SelectedTransaction.created_at }}
        </div>
        <div class="col-6 pb-md-4 bolder">Address</div>
        <div class="col-6 pb-md-4">
          :{{ ' ' + SelectedTransaction.address }}
        </div>
        <div class="col-6 pb-md-4 bolder">Location</div>
        <div class="col-6 pb-md-4"></div>
      </div>
    </div>
  </div>
  <div class="gap-40"></div>
  <div class="row">
    <div class="left-b h4">Payment History</div>
  </div>
  <div class="row">
    <div class="w-100">
      <table mat-table [dataSource]="walletHistoryDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row">
            {{ formatToCurrency(row.amount) }}
          </td>
        </ng-container>

        <!-- Progress Column -->
        <ng-container matColumnDef="narration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Narration</th>
          <td mat-cell *matCellDef="let row">{{ row.narration }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Payment Type
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.type }}
          </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let row">
            {{ row.date | date: 'short' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="walletColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: walletColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            <!-- No data matching the filter "{{ input.value }}" -->
          </td>
        </tr>
      </table>

      <div class="mt-5 d-flex justify-content-end">
        <ngb-pagination
          [collectionSize]="walletHistoryCollectionSize"
          [(page)]="walletHistoryCurrentPage"
          [pageSize]="walletHistoryPageSize"
          [maxSize]="5"
          [rotate]="true"
          [ellipses]="true"
          (pageChange)="changeWalletHistoryPage()"
        >
          <ng-template ngbPaginationPrevious
            ><i class="fa fa-caret-left" aria-hidden="true"></i
          ></ng-template>
          <ng-template ngbPaginationNext
            ><i class="fa fa-caret-right" aria-hidden="true"></i></ng-template
        ></ngb-pagination>
      </div>
    </div>
  </div>
  <div class="gap-40"></div>
  <div class="row">
    <div class="left-b h4">Cash Withdrawal History</div>
  </div>
  <div class="row">
    <div class="w-100">
      <table mat-table [dataSource]="walletDebitHistoryDataSource" matSort>
        <!-- ID Column -->
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
          <td mat-cell *matCellDef="let row">
            {{ formatToCurrency(row.amount) }}
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Payment Type
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.type }}
          </td>
        </ng-container>

        <!-- Color Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
          <td mat-cell *matCellDef="let row">
            {{ row.date | date: 'short' }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="walletDebitColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: walletDebitColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="6">
            <!-- No data matching the filter "{{ input.value }}" -->
          </td>
        </tr>
      </table>

      <div class="mt-5 d-flex justify-content-end">
        <ngb-pagination
          [collectionSize]="walletDebitHistoryCollectionSize"
          [(page)]="walletDebitHistoryCurrentPage"
          [pageSize]="walletDebitHistoryPageSize"
          [maxSize]="5"
          [rotate]="true"
          [ellipses]="true"
          (pageChange)="changeWalletDebitHistoryPage()"
        >
          <ng-template ngbPaginationPrevious
            ><i class="fa fa-caret-left" aria-hidden="true"></i
          ></ng-template>
          <ng-template ngbPaginationNext
            ><i class="fa fa-caret-right" aria-hidden="true"></i></ng-template
        ></ngb-pagination>
      </div>
    </div>
  </div>

  <ng-template #collHist let-modal>
    <div class="modal-body pt-1">
      <div class="d-flex">
        <div class="d-flex justify-content-between flex-grow-1">
          <div>
            <span class="badge bg-orange text-white p-2 h-wrap mt-4">
              Collection Summary
            </span>
            <i
              class="fa fa-circle-o-notch fa-spin fa-lg ml-4"
              aria-hidden="true"
              *ngIf="historyLoading"
            ></i>
          </div>
          <select
            class="w-auto form-control-sm border-0 mt-4"
            (change)="selectSort($event)"
          >
            <option value="null" disabled selected>Sort By:</option>
            <option value="week">This Week</option>
            <option value="month">This Month</option>
            <option value="year">This Year</option>
          </select>
        </div>
        <div class="w-wrap text-right flex-grow-0">
          <span
            aria-hidden="true"
            class="text-danger text-right fake-btn"
            (click)="modal.dismiss('Cross click')"
            >&times;</span
          >
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-5 order-md-2">
          <ngb-datepicker
            #dp
            (dateSelect)="onDateSelection($event)"
            [dayTemplate]="t"
            outsideDays="hidden"
            navigation="arrows"
            [maxDate]="maxDate"
            class="w-100"
          >
          </ngb-datepicker>

          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>

          <button
            type="button"
            class="btn btn-primary btn-block mt-2 mb-3 mb-md-0"
            (click)="filterByDate()"
            [disabled]="fromDate == undefined"
          >
            Filter
          </button>
        </div>
        <div class="col-12 col-md-7 order-md-1">
          <div class="bb-green w-wrap">
            <span class="bolder h5">Total Tonnage Disposed:</span>
            &nbsp;
            <span class="sc-green"
              >{{
                matHist.total_tonnage ? matHist.total_tonnage : 0
              }}
              &nbsp;kg</span
            >
          </div>
          <div class="mat-hist overflow-auto font-weight-bold flipped pl-4">
            <div *ngFor="let mat of matHist.materials">
              {{ mat.name + ': ' + mat.weight }} kg <&nbsp;
            </div>
            <br />
          </div>
          <div class="bb-green w-wrap">
            <span class="bolder h5">Total amount paid out:</span>
            &nbsp;
            <span class="sc-green"
              >₦
              {{
                formatToCurrency(matHist.totalcost)
                  ? formatToCurrency(matHist.totalcost)
                  : 0
              }}
              &nbsp;</span
            >
          </div>
          <div class="mat-hist overflow-auto font-weight-bold flipped pl-4">
            <div *ngFor="let mat of matHist.materials">
              {{ mat.name + ': ₦ ' + formatToCurrency(mat.cost) }}&nbsp;<
            </div>
            <br />
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>
