table {
  width: 100%;
  font-weight: 600 !important;
}

table,
.table,
thead,
tr,
td {
  border-top: none !important;
}
.img-icon {
  float: left;
  width: 36px;
  height: auto;
}
.pop-icon {
  width: 89px;
  height: auto;
}
td:not(.first) {
  vertical-align: middle;
  text-align: center;
}
.line-h-s {
  line-height: 17px;
  text-align: left;
}
.pop-tit {
  font-size: 16px;
}
.pop-bod {
  font-size: 14px;
}
.mat-table {
  font-family: 'Poppins', sans-serif !important;
}
