<ngb-alert *ngIf="authError" type="danger" (close)="authError = ''" class="mt-5">{{ authError }}</ngb-alert>
<!-- <button class="btn btn-primary" (click)="changeErrorMessage('abc\'h')">Change message</button> -->
<!-- Header start -->
<header id="header" class="fixed-top header4" role="banner">
	<div class="header-container">
		<nav class="navbar navbar-expand-lg navbar-light px-0 px-md-4 py-2 custom-container">


			<a class="navbar-brand" href="https://scrapays.com"><img class="img-fluid" src="assets/images/main-logo.png" alt="logo"></a>
			<button class="btn btn-clear ml-auto border-0 rounded-0 text-dark" type="button" (click)="clickMenu()"  >
				<span class="fa fa-bars fa-1x"></span>
			</button>

		</nav>
	</div>
</header>
<!-- Header end -->