<!-- <div class="app-body"> -->
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="card-deck">
            <div class="card col-md-8 col-12 p-4 pr-0 mr-0 mb-0 mb-md-1 mx-md-auto">
                <div class="card-body">

						<form [formGroup]="Form" (ngSubmit)="login(Form.value)">
                            <h1>Admin Login</h1>
                            <p class="text-muted">Sign In to your account</p>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-at" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="email" class="form-control" placeholder="Email" autocomplete="email" formControlName="email">
                                </div>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.email">
                                    <div class="error-message alert alert-danger" *ngIf="Form.get('email').hasError(validation.type) && (Form.get('email').dirty || Form.get('email').touched)">
                                    <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message }}</span>
                                    </div>
                                    </ng-container>
                                    </div>
                                <div class="input-group mb-4">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-lock" aria-hidden="true"></i></span>
                                    </div>
                                    <input type="password" class="form-control" placeholder="Password" autocomplete="current-password" formControlName="password">
                                </div>
                                <div class="validation-errors">
                                    <ng-container *ngFor="let validation of validation_messages.password">
                                    <div class="error-message alert alert-danger" *ngIf="Form.get('password').hasError(validation.type) && (Form.get('password').dirty || Form.get('password').touched)">
                                    <i class="fa fa-info-circle text-danger"></i> &nbsp; <span class="text-danger">{{ validation.message }}</span>
                                    </div>
                                    </ng-container>
                                    </div>
                                <div class="row">
                                    <div class="col-6">
                                    <button type="submit" class="btn btn-primary px-4" [disabled]="!Form.valid">Login</button>
                                    </div>
                                    <div class="col-6 text-right">
                                    <a routerLink="/request-password-reset" class="px-0">Forgot password?</a>
                                    </div>
                                </div>
                    </form>

                 </div>
            </div>
        </div>
      </div>
    </main>

    <ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Error</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ Error }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
    </ng-template>

    <ngx-loading [show]="loading"></ngx-loading>