<div class="row mt-5 pt-md-5">
    <div class="col-12 col-md-7">
        <span class="font-weight-bold h1 ml-4">Users</span>
        <div class="row">
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Producers</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.producers }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Vendors</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.vendors }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Collectors</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.collectors }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 pl-md-0">
        <span class="font-weight-bold h1 ml-4">Website Analytics</span>
        <div class="card shadow rounded-0 h-84">
            <div class="card-body px-0 pt-4 pb-custom">
                <div class="row text-center">
                    <div class="col-12 col-md-4 pr-md-0">
                        <img src="assets/images/icons/men-1.png" alt="users icon"  class="users-icon"><br>
                        <span class="font-weight-bold">33,123</span><br>
                        <span class="text-muted small bb-grey">Total No. Of Visitors</span>        
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                    </div>
                    <div class="col-12 col-md-4 px-md-0">
                        <img src="assets/images/icons/map-icon.png" alt="map icon" class="w-100"><br>
                        <span class="text-muted small bb-grey">Visitors Geolocation</span>
                        <span class="text-muted small">Nigeria, USA, Belgium</span>           
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center">
                         <img src="assets/images/icons/analytics.png" alt="analytics icon" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-12 col-md-5">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-body">
                <h4 class="card-title">
                    <span class="font-weight-bold">Listing Report</span>  
                    <select class="custom-select w-auto float-right">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                    <option value="3">Yearly</option>
                    </select>                 
                    <span class="float-right text-blue mt-1 mr-1">Show:</span>
                </h4>
                <div class="card-text">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColours"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)" style="height:100%px !important;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 pl-md-0">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-header bg-white">
                <span class="mt-1">Listing Request</span>
                <select class="custom-select w-auto float-right">
                    <option value="1" selected>This Month</option>
                    <option value="2">This Week </option>
                    <option value="3">This Year </option>
                </select>                 
                <span class="float-right text-blue mt-1 mr-1">Show:</span>
            </div>
            <div class="card-body p-0">
                <div class="card-text">
                    <div class="chart-wrapper">
                        <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [colors]="doughnutChartColors"
                            [options]="doughnutChartOptions"
                            [chartType]="doughnutChartType"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-header bg-white">
                <span class="mt-2">Revenue</span>
                <select class="custom-select w-auto float-right">
                    <option value="1" selected>This Month</option>
                    <option value="2">This Week </option>
                    <option value="3">This Year </option>
                </select>                 
                <span class="float-right text-blue mt-1 mr-1"></span>
            </div>
            <div class="card-body p-0">
                <div class="card-text pl-4">
                    Total Revenue Generated <br><br>
                    <span class="badge bg-orange text-light h5">₦ 300,000,000</span><br><br>
                    Total Tonnage recovered <br><br>
                    <span class="badge bg-orange text-light h5">₦ 300,000,000</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-5 mx-3">
      <form (ngSubmit)="onSubmit(Form)" [formGroup]="Form">
        <div class="card-body">
          <div class="row">
          <div class="col-12 text-center h1">Material price per ton</div>
            <div class="col-6">
               <div class="form-group">
               <label for="metal" [ngClass]="{h3: !edit}">
                Metal 
                <span *ngIf="!edit">:&nbsp; {{ materialPrices.metal }}</span>
               </label>
                  <input type="number" class="form-control" name="metal"  placeholder="Metal" formControlName="metal" *ngIf="edit" [(ngModel)]="materialPrices.metal">
                </div>
            </div>
            <div class="col-6">
              <div class="form-group">
              <label for="metal" [ngClass]="{h3: !edit}">
                Aluminium 
                <span *ngIf="!edit">:&nbsp; {{ materialPrices.aluminium }}</span>
              </label>
                  <input type="number" class="form-control" name="aluminium"  placeholder="Aluminium" formControlName="aluminium" *ngIf="edit" [(ngModel)]="materialPrices.aluminium">
                </div>
              </div>
            <div class="col-6">
               <div class="form-group">
               <label for="metal" [ngClass]="{h3: !edit}">
                Paper 
                <span *ngIf="!edit">:&nbsp; {{ materialPrices.paper }}</span>
               </label>
                  <input type="number" class="form-control" name="paper"  placeholder="Paper" formControlName="paper" *ngIf="edit" [(ngModel)]="materialPrices.paper">
                </div>
            </div>
            <div class="col-6">
              <div class="form-group">
              <label for="metal" [ngClass]="{h3: !edit}">
                Plastic 
                <span *ngIf="!edit">:&nbsp; {{ materialPrices.plastic }}</span>
              </label>
                  <input type="number" class="form-control" name="plastic"  placeholder="Plastic" formControlName="plastic" *ngIf="edit" [(ngModel)]="materialPrices.plastic">
                </div>
              </div>
            <div class="col-6">
               <div class="form-group">
               <label for="metal" [ngClass]="{h3: !edit}">
                Others 
                <span *ngIf="!edit">:&nbsp; {{ materialPrices.others }}</span>
               </label>
                  <input type="number" class="form-control" name="others"  placeholder="Others" formControlName="others" *ngIf="edit" [(ngModel)]="materialPrices.others">
                </div>
            </div>
            <div class="col-6 text-right">
              <div class="form-group pt-md-4">
                <button type="button" class="btn btn-primary px-4" (click)="edit = true" *ngIf="!edit">Edit</button> &nbsp;
                <button type="button" class="btn btn-danger px-4 text-nowrap" (click)="edit = false" *ngIf="edit">Cancel Edit</button> &nbsp;
                <button type="submit" class="btn btn-primary px-4" [disabled]="!Form.valid" *ngIf="edit">Change</button>
              </div>
            </div>
       
          </div><!--/.row-->
          
        </div>
      </form>
          <ngx-loading [show]="loading"></ngx-loading>
    </div>

<ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title"><p>{{ modalTitle }}</p></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ modalBody }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
</ng-template>