<div class="row mt-5 pt-md-5">
    <div class="col-12 col-md-7">
        <span class="font-weight-bold h1 ml-4">Users</span>
        <div class="row">
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Producers</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.producers }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Vendors</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.vendors }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2 mb-md-0">
                <div class="card shadow h-100">
                    <div class="card-body p-2">
                        <div class="card-title text-center">
                            <img src="assets/images/icons/user-1.png" alt="user icon">
                        </div>
                        <div class="card-text">
                            <p class="font-weight-bold">Collectors</p>
                            <div class="text-muted small">Last updated <span class="font-weight-bold">{{ lastUpdated | date:'short' }}</span>
                            </div><br>
                            <span class="badge bg-orange text-light">{{ UserCount.collectors }} Users</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-5 pl-md-0">
        <span class="font-weight-bold h1 ml-4">Website Analytics</span>
        <div class="card shadow rounded-0 h-84">
            <div class="card-body px-0 pt-4 pb-custom">
                <div class="row text-center">
                    <div class="col-12 col-md-4 pr-md-0">
                        <img src="assets/images/icons/men-1.png" alt="users icon"  class="users-icon"><br>
                        <span class="font-weight-bold">33,123</span><br>
                        <span class="text-muted small bb-grey">Total No. Of Visitors</span>        
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                        <img src="assets/images/icons/black-user-icon.png" alt="user icon">
                    </div>
                    <div class="col-12 col-md-4 px-md-0">
                        <img src="assets/images/icons/map-icon.png" alt="map icon" class="w-100"><br>
                        <span class="text-muted small bb-grey">Visitors Geolocation</span>
                        <span class="text-muted small">Nigeria, USA, Belgium</span>           
                    </div>
                    <div class="col-12 col-md-4 d-flex align-items-center">
                         <img src="assets/images/icons/analytics.png" alt="analytics icon" class="w-100">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row my-4">
    <div class="col-12 col-md-5">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-body">
                <h4 class="card-title">
                    <span class="font-weight-bold">Listing Report</span>  
                    <select class="custom-select w-auto float-right">
                    <option value="1" selected>Monthly</option>
                    <option value="2">Weekly</option>
                    <option value="3">Yearly</option>
                    </select>                 
                    <span class="float-right text-blue mt-1 mr-1">Show:</span>
                </h4>
                <div class="card-text">
                    <div class="chart-wrapper">
                        <canvas baseChart class="chart"
                        [datasets]="lineChartData"
                        [labels]="lineChartLabels"
                        [options]="lineChartOptions"
                        [colors]="lineChartColours"
                        [legend]="lineChartLegend"
                        [chartType]="lineChartType"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)" style="height:100%px !important;"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-4 pl-md-0">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-header bg-white">
                <span class="mt-1">Listing Request</span>
                <select class="custom-select w-auto float-right">
                    <option value="1" selected>This Month</option>
                    <option value="2">This Week </option>
                    <option value="3">This Year </option>
                </select>                 
                <span class="float-right text-blue mt-1 mr-1">Show:</span>
            </div>
            <div class="card-body p-0">
                <div class="card-text">
                    <div class="chart-wrapper">
                        <canvas baseChart
                            [data]="doughnutChartData"
                            [labels]="doughnutChartLabels"
                            [colors]="doughnutChartColors"
                            [options]="doughnutChartOptions"
                            [chartType]="doughnutChartType"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="card  h-100 rounded-0 shadow-sm">
            <div class="card-header bg-white">
                <span class="mt-2">Revenue</span>
                <select class="custom-select w-auto float-right">
                    <option value="1" selected>This Month</option>
                    <option value="2">This Week </option>
                    <option value="3">This Year </option>
                </select>                 
                <span class="float-right text-blue mt-1 mr-1"></span>
            </div>
            <div class="card-body p-0">
                <div class="card-text pl-4">
                    Total Revenue Generated <br><br>
                    <span class="badge bg-orange text-light h5">₦ 300,000,000</span><br><br>
                    Total Tonnage recovered <br><br>
                    <span class="badge bg-orange text-light h5">₦ 300,000,000</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card my-5 mx-3">
        <div class="card-body p-0 p-md-3">
          <div class="row">
          <div class="col-12 text-center h1">Material price per ton</div>
          <div class="col-12 small text-success">Material icons should have a dimsnsion of 36px by 36px  </div>
            <div class="col-12 col-md-6" *ngFor="let material of materialPrices; let i = index">
               <div class="form-group">
               <label for="metal" [ngClass]="{h3: !edit}" class="text-capitalize">
                <span>Material: {{ " " + material.name }}</span><br>
                <span *ngIf="!edit">Material Price:&nbsp; ₦{{ material.price }} </span>
               </label>
                  <div class="row">
                    <div class="col-7 p-0 px-md-3">
                        <input type="text" class="form-control w-100" name="{{material.name + i }}"  placeholder="{{material.name}}" *ngIf="edit" [(ngModel)]="material.name">
                        <input type="number" class="form-control" name="{{material.name + '_price' + i}}"  placeholder="Material price" *ngIf="edit" [(ngModel)]="material.price">
                    </div>
                    <div class="col-5" *ngIf="edit">
                        <input #fileInput type="file" (change)="onFileInput($event, i)" class="d-none" name="{{material.name + ' image'}}"accept="image/*" />
                        <button class="btn btn-primary solid" (click)="fileInput.click()" type="button" >Select Icon </button><br>
                        <span class="small">{{ material.image.name }}</span>

                        <button type="button" class="btn btn-clear text-danger"(click)="removeMaterial(i)">
                            <i class="fa fa-times" aria-hidden="true"></i> Remove
                        </button>
                    </div>
                  </div>
                </div>
            </div>

                    <div class="col-12 text-right">
                    <div class="form-group pt-md-4">
                        <button type="button" class="btn btn-primary px-4" (click)="edit = true" *ngIf="!edit && materialPrices.length > 0">Edit</button> &nbsp;
                        <button type="button" class="btn btn-danger px-4 text-nowrap mb-3 mb-md-0" (click)="edit = false" *ngIf="edit">Cancel Edit</button> &nbsp;
                        <button type="button" class="btn btn-primary px-4" *ngIf="edit" (click)="saveEditedMaterials()">Save Materials</button>
                    </div>
                </div>
       
            <div class="col-12">
                                   <p class="font-weight-bold">Add New Materials</p>
                  <div class="row" *ngFor="let mat of newMaterial; let i = index">
                    <div class="col-7 p-0 px-md-3">
                        <input type="text" class="form-control w-100 mb-3" name="{{mat.name + i }}"  placeholder="{{mat.name}}" *ngIf="adding" [(ngModel)]="mat.name">
                        <input type="number" class="form-control" name="{{mat.name + '_price' + i}}"  placeholder="mat price" *ngIf="adding" [(ngModel)]="mat.price">
                    </div>
                    <div class="col-5" *ngIf="adding">
                        <input #newFile type="file" (change)="onNewFileInput($event, i)" class="d-none" name="{{mat.name + ' image'}}"accept="image/*" />
                        <button class="btn btn-primary solid" (click)="newFile.click()" type="button" >Select Icon </button><br>
                        <span class="small">{{ mat.image.name }}</span>
                    </div>
                  </div>
                </div>
                
                <div class="col-12 text-right">
                <div class="form-group pt-md-4">
                    <button type="button" class="btn btn-clear float-left" (click)="addMaterial()" >
                        <i class="fa fa-plus" aria-hidden="true"></i> Add Material
                    </button> &nbsp;

                    <button type="button" class="btn btn-danger px-4 text-nowrap mb-3 mb-md-0" (click)="adding = false" *ngIf="adding">Cancel</button> &nbsp;
                    <button type="button" class="btn btn-primary px-4" *ngIf="adding"  (click)="onSubmit()">Save New Material</button>
                </div>
                </div>

          </div><!--/.row-->
          
        </div>
          <ngx-loading [show]="loading"></ngx-loading>
    </div>

<ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title"><p>{{ modalTitle }}</p></h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ modalBody }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
      </div>
</ng-template>