<div class="row mt-5 pt-4">
  <div class="col-12 col-md-6 pl-md-5 bg-white">
    <div class="w-100 h1 sc-orange my-3 ml-md-5">Collector Signup</div>
    <form
      [formGroup]="CollectorForm"
      (ngSubmit)="registerCollector(CollectorForm.value)"
      class="mx-md-5"
    >
      <div class="row">
        <div class="col-12 pl-0 signup-sec-header">Contact Details</div>
        <div class="col-6 pl-0">
          <input
            class="form-control"
            placeholder="First Name"
            formControlName="first_name"
          />
          <div class="validation-errors w-100">
            <ng-container
              *ngFor="let validation of validation_messages.first_name"
            >
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  CollectorForm.get('first_name').hasError(validation.type) &&
                  (CollectorForm.get('first_name').dirty ||
                    CollectorForm.get('first_name').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="col-6 pr-0">
          <input
            class="form-control"
            placeholder="Last Name"
            formControlName="last_name"
          />
          <div class="validation-errors w-100">
            <ng-container
              *ngFor="let validation of validation_messages.last_name"
            >
              <div
                class="error-message alert alert-danger"
                *ngIf="
                  CollectorForm.get('last_name').hasError(validation.type) &&
                  (CollectorForm.get('last_name').dirty ||
                    CollectorForm.get('last_name').touched)
                "
              >
                <i class="fa fa-info-circle text-danger"></i> &nbsp;
                <span class="text-danger">{{ validation.message }}</span>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <input
          type="email"
          class="form-control"
          placeholder="Email"
          formControlName="email"
        />
        <div class="validation-errors w-100">
          <ng-container *ngFor="let validation of validation_messages.email">
            <div
              class="error-message alert alert-danger"
              *ngIf="
                CollectorForm.get('email').hasError(validation.type) &&
                (CollectorForm.get('email').dirty ||
                  CollectorForm.get('email').touched)
              "
            >
              <i class="fa fa-info-circle text-danger"></i> &nbsp;
              <span class="text-danger">{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row mt-3">
        <input
          type="tel"
          class="form-control"
          placeholder="Phone Number"
          autocomplete="phone"
          formControlName="phone"
        />
        <div class="validation-errors w-100">
          <ng-container *ngFor="let validation of validation_messages.phone">
            <div
              class="error-message alert alert-danger"
              *ngIf="
                CollectorForm.get('phone').hasError(validation.type) &&
                (CollectorForm.get('phone').dirty ||
                  CollectorForm.get('phone').touched)
              "
            >
              <i class="fa fa-info-circle text-danger"></i> &nbsp;
              <span class="text-danger">{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row mt-3">
        <input
          type="text"
          class="form-control"
          placeholder="Collection Coverage Zone"
          formControlName="collection_coverage_zone"
        />
        <div class="validation-errors w-100">
          <ng-container
            *ngFor="
              let validation of validation_messages.collection_coverage_zone
            "
          >
            <div
              class="error-message alert alert-danger"
              *ngIf="
                CollectorForm.get('collection_coverage_zone').hasError(
                  validation.type
                ) &&
                (CollectorForm.get('collection_coverage_zone').dirty ||
                  CollectorForm.get('collection_coverage_zone').touched)
              "
            >
              <i class="fa fa-info-circle text-danger"></i> &nbsp;
              <span class="text-danger">{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
      </div>
      <div class="row mt-3">
        <input
          type="text"
          class="form-control"
          placeholder="Invite Code (optional)"
          formControlName="invite_code"
        />
      </div>
      <div class="input-group mb-0 mt-3">
        <input
          type="password"
          class="form-control"
          placeholder="Wallet Pin"
          formControlName="pin"
          pattern="[0-9]*"
          inputmode="numeric"
        />
      </div>
      <div class="validation-errors w-100">
        <ng-container *ngFor="let validation of validation_messages.pin">
          <div
            class="error-message alert alert-danger"
            *ngIf="
              CollectorForm.get('pin').hasError(validation.type) &&
              (CollectorForm.get('pin').dirty ||
                CollectorForm.get('pin').touched)
            "
          >
            <i class="fa fa-info-circle text-danger"></i> &nbsp;
            <span class="text-danger">{{ validation.message }}</span>
          </div>
        </ng-container>
      </div>
      <div class="row mt-3">
        <div class="input-group mb-0">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            autocomplete="new-password"
            formControlName="password"
          />
        </div>
        <div class="validation-errors w-100">
          <ng-container *ngFor="let validation of validation_messages.password">
            <div
              class="error-message alert alert-danger"
              *ngIf="
                CollectorForm.get('password').hasError(validation.type) &&
                (CollectorForm.get('password').dirty ||
                  CollectorForm.get('password').touched)
              "
            >
              <i class="fa fa-info-circle text-danger"></i> &nbsp;
              <span class="text-danger">{{ validation.message }}</span>
            </div>
          </ng-container>
        </div>
        <div class="validation-errors w-100" *ngIf="error.password != ''">
          <ng-container>
            <div class="error-message alert alert-danger">
              <i class="fa fa-info-circle text-danger"></i> &nbsp;
              <span class="text-danger">{{ error.password }}</span>
            </div>
          </ng-container>
        </div>
        <div class="input-group mb-0 mt-3">
          <input
            type="password"
            class="form-control"
            placeholder="Confirm password"
            autocomplete="new-password"
            formControlName="password_confirmation"
          />
        </div>
      </div>
      <div class="w-100 my-5">
        <span class="mt-3 float-left">
          Already have an account, <a routerLink="/login/partners">Login</a>
        </span>
        <button
          type="submit"
          class="btn btn-primary bg-orange float-right"
          [disabled]="!CollectorForm.valid"
        >
          Sign Up
        </button>
      </div>
    </form>
  </div>
  <div
    class="col-12 col-md-6 d-flex align-items-center collector-img-bg text-white"
  >
    <div>
      <ul class="fa-ul">
        <li class="signup-rows">Opportunities Everywhere!</li>
        <li class="signup-rows row">
          <div class="col-auto">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col">Work from your Area</div>
        </li>
        <li class="signup-rows row">
          <div class="col-auto">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col">Earn as you collect</div>
        </li>
        <li class="signup-rows row">
          <div class="col-auto">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col">
            Gather materials easily with a platform with thousands of producers
          </div>
        </li>
        <li class="signup-rows row">
          <div class="col-auto">
            <i class="fa fa-arrow-right" aria-hidden="true"></i>
          </div>
          <div class="col">Get trained</div>
        </li>
      </ul>
      <div class="w-100">
        <a href="https://scrapays.com/#Collector" class="sc-green"
          >Learn more about being a collector</a
        >
      </div>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{ modalTitle }}</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{ modalBody }}</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-light"
      (click)="modal.close('Close click')"
    >
      Close
    </button>
  </div>
</ng-template>
<ngx-loading [show]="loading"></ngx-loading>
